<<<<<<< HEAD
body {
    background-color: rgb(230,199,21);
    border: none;
    margin: 0%;
    padding: 0%;
}
.a{
    color: red;
    font-size: 80px;
    font-weight: bold;
    position: relative;
    left: 0px;
    top: 100px;
    animation-duration: 1s;
    animation-name: s;
    overflow: hidden;
    text-align: center;
}
@keyframes s {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
.b{
    color: rgb(0, 0, 0);
    font-size: 50px;
    position: relative;
    left: 500px;
    top: 50px;
    animation-duration: 1s;
    animation-name: f;
    overflow: hidden;
}
@keyframes f {
    from {
      left: -1000px;
      width: 300%;
    }
  
    to {
        left: 500px;
      width: 100%;
    }
  }
.c {
	background-color:#de1f1f;
	border-radius:28px;
	border:1px solid #ab198e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:30px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    position: relative;
    top: 100px;
    left: 44%;
    animation-duration: 1s;
    animation-name: q;

}
@keyframes q {
    from {
      top: 200px;
      opacity: 0;
    }
  
    to {
        top: 100px;
        opacity: 1;
    }
  }
.c:hover {
	background-color:#61eb17;
    scale: 1.2;
}
.d{
    font-size: 25px;
    position: relative;
    left: 44%;
}
.ad{
    font-size: 25px;
    position: relative;
    left: 0%;
    text-align: center;
}
.pod{
    background-color: rgb(164, 168, 172);
    position: absolute;
    bottom: 0%;
    width: 100%;
    border: none;
    margin: 0%;

}
